strong {
    color: #e83f8e;
}
body {
    margin-bottom: 100rem;
}

.ej1 div {
    display: inline;
}

.ej1 span {
    display: block;
}

.ej2 a {
    display: inline-block;
    padding: 0.5rem 2rem;
    background-color: aliceblue;
}

.ej3 div {
    float: right;
    margin-left: 1rem;
}

.ej3 .pie {
    clear: right;
}

.ej4 span {
    padding:0.5rem;
    float: left;
}

.ej4 .ancho1 {
    width: 40%;
    background-color: red;
}

.ej4 .ancho2 {
    width: 30%;
    background-color: orange;
}

.ej4 .ancho3 {
    width:20%;
    background-color: green;
}

.ej4 button {
    display: block;
    border: 3px solid black;
    clear: right;
}

.ej5 p {
    border: 1px solid blue;
}

.ej5 .par3 {
    position: relative  ;
    top: 20px;
    left: 40px;
}

.ej6 .contenedor {
    position:relative;
    border: 2px solid red;
    padding: 2rem;
}

.ej6 .elemento {
    position: absolute;
    background-color: burlywood;
    bottom: 0px;
    right: 0px;

}

.ej7 .container {
    position: relative;
}

.ej7 .oferta-tag {
    position: absolute;
    font-size: xx-large;
    font-weight: bold;
    background-color: red;
    top: 0px;
    right: 0px;
    padding:1rem;
    border-bottom-left-radius: 0.5rem;
}

.ej7 img {
    width: 100%
}

.ej8 div {
    position:fixed;
    top: 0px;
    display: flex;
    align-items: center;
    padding: 0.5rem;
    background-color: antiquewhite;
    width: 100%;
    z-index: 2;
    
}

.ej8 img {
    max-width: 100px;
}

.indice {
    position: sticky;
    top: 116px;
    left: 0px;
    background-color: lightblue;
}

.ej10 div {
    position: absolute;
    width: 100px;
}

.ej10 img {
    width: 100px;
}


.ej10 .ele1 {
    background-color: red;
    z-index: 1;
}

.ej10 .ele2 {
    background-color: orange;
    z-index: 2;
}

.ej10 .ele3 {
    background-color: green;
    z-index: 3;
}

.ej11 {
    display: flex;
    flex-direction: row-reverse;
    gap: 1rem;
}

.ej12 .barra {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: blanchedalmond;
    align-items: center; /* Para centrarlos dentro de la altura de la caja */
    height: 5rem;
}

.ej13 .contenedor {
    display: flex;
    gap: 2rem;
    flex-wrap: wrap;
}

.ej13 .col1, .ej13 .col3 {
    flex: 1;
}

.ej13 .col2 {
    flex: 2;
}

.ej14 .contenedor {
    display: flex;    
}

.ej14 .art1, .art2, .art3 {
    margin: 0.5rem;
    border-radius: 0.5rem;
    padding: 2rem;
    background-color: aquamarine;
    flex: 1;
    place-content: center;
    justify-content: center;
}

.ej15 .grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: minmax(100px, auto);
}

.ej15 .grid div {
    border: 1px solid black;
    background-color: lightblue;
}

.ej16 .grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 0.75rem;
}

.ej16 .grid div {
    border: 1px solid black;
    background-color: lightblue;
    padding: 2rem;
}

.ej16 .ele1 {
    grid-column: 1/4;
    grid-row: 1 / 2;
}

.ej16 .ele2 {
    grid-row: 1/4;
    grid-column: 1/2;
}

.ej16 .ele3 {
    grid-row: 2/3;
    grid-column: 2/4;
}

.ej16 .ele4 {
    grid-row: 3/4;
    grid-column: 2/4;
}

.ej17 .grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, auto);
    gap: 10px;
}
.ej17 .cabecera {
    grid-column: 1/4;
    border: 1px solid;
    border-radius: 0.5rem;
    padding: 0.5rem;
}
.ej17 .barra {
    grid-row: 2/4;
    border: 1px solid;
    border-radius: 0.5rem;
    padding: 0.5rem;
}
.ej17 .contenido {
    grid-column: 2/4;
    grid-row: 2/4;
    border: 1px solid;
    border-radius: 0.5rem;
    padding: 0.5rem;
}
.ej17 .pie {
    grid-row: 4/5;
    grid-column: 1/4;

    border: 1px solid;
    border-radius: 0.5rem;
    padding: 0.5rem;
}

.ej18 .galeria {
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(200px,1fr));
    grid-auto-rows: minmax(150px,auto);
    gap: 1rem;
}
.ej18 img{
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
}

.ej19 .contenedor{
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.ej19 .contenedor div {
    background-color: lightcoral;
    padding: 15px;
    border:2px solid black;
    width: 100%;
}

@media screen and (width>=600px) {
    .ej19 .contenedor {
        flex-direction: row;
        flex-wrap: wrap;
    }

    .ej19 .contenedor div {
        width: calc(50% - 15px)
    }
}

@media screen and (width>=900px) {
    .ej19 .contenedor div {
        width: 30%
    }
}

.ej20 .titulo-fluido {
    /* Base de ~24px + un porcentaje del ancho de pantalla */
    font-size: calc(1.5rem + 3vw); 
    color: #2c3e50;
    transition: color 0.3s; /* Opcional: para que se vea más pro */
}

@media screen and (width >= 1200px) {
    .ej20 .titulo-fluido {
        /* Calculamos cuánto mide a los 1200px y lo dejamos fijo */
        /* Ejemplo: 1.5rem + 3% de 1200px ≈ 60px */
        font-size: 4rem; 
    }
}