:root{
    font-size: 16px;
    font-family: Arial, sans-serif;
    /* es robusta porque sans-serif está 
    en todos los navegadores entonces si
    no tiene instalada Arial, se verá con 
    sans-serif*/
}


.parrafo-escala-rem {
    font-size: 1rem;
}

.parrafo-escala-em {
    font-size: 1em;
}

.parrafo-escala-px {
    font-size: 18px;
}

.estilo-normal {
    font-style: normal;
}
.estilo-italic {
    font-style: italic;
}
.estilo-oblique {
    font-style: oblique;
}

.peso-extrabold {
    font-weight: bolder;
}

.peso-ligero {
    font-weight: 300;
}

.peso-normal {
    font-weight: normal;
}

.peso-negrita {
    font-weight: bold;
}

.texto-enfasis {
    text-decoration: underline #0056b3;
    font-style: italic;
}

.texto-eliminado {
    text-decoration: line-through;
}

.texto-resaltado {
    background-color: yellow;
}

.alinear-izquierda {
    text-align: left;
}
.alinear-derecha {
    text-align: right;
}
.alinear-centro {
    text-align: center;
}
.alinear-justificado {
    text-align: justify;
}


.linea-estrecha {
    line-height: 0.5;
}
.linea-optima {
    line-height: 1;
}
.linea-exagerada {
    line-height: 3;
}


.texto-mayusculas {
    text-transform: uppercase;
}
.texto-minusculas {
    text-transform: lowercase;
}
.texto-capitalizado {
    text-transform: capitalize;
}


.lista-anidada {
    list-style-type: circle;
}

.lista-anidada ul {
    list-style-type: decimal;
}

.lista-anidada ul ul {
    list-style-type: lower-alpha;
}


.bullet-inside {
    list-style-position: inside;
}
.bullet-outside {
    list-style-position: outside;
}
.bullet-imagen {
    list-style-image: url(data:image/svg+xml,%3Csvg%20xmlns=%22http://www.w3.org/2000/svg%22%20width=%2224%22%20height=%2224%22%20viewBox=%220%200%2024%2024%22%20fill=%22none%22%20stroke=%22currentColor%22%20stroke-width=%222%22%20stroke-linecap=%22round%22%20stroke-linejoin=%22round%22%20class=%22icon%20icon-tabler%20icons-tabler-outline%20icon-tabler-cat%22%3E%3Cpath%20stroke=%22none%22%20d=%22M0%200h24v24H0z%22%20fill=%22none%22/%3E%3Cpath%20d=%22M20%203v10a8%208%200%201%201%20-16%200v-10l3.432%203.432a7.963%207.963%200%200%201%204.568%20-1.432c1.769%200%203.403%20.574%204.728%201.546l3.272%20-3.546%22%20/%3E%3Cpath%20d=%22M2%2016h5l-4%204%22%20/%3E%3Cpath%20d=%22M22%2016h-5l4%204%22%20/%3E%3Cpath%20d=%22M11%2016a1%201%200%201%200%202%200a1%201%200%201%200%20-2%200%22%20/%3E%3Cpath%20d=%22M9%2011v.01%22%20/%3E%3Cpath%20d=%22M15%2011v.01%22%20/%3E%3C/svg%3E);
}

a:link {
    color: green;
}

a:visited {
    color: red;
}

a:hover {
    color: blue;
}

.texto-vertical {
    writing-mode: vertical-rl;
    inline-size: 14rem;
    block-size: 12rem;
}

.caja-fisica {
    writing-mode: vertical-rl;
    width: 12rem;
    height: 10rem;
    background-color: red;
}

.caja-logica {
    writing-mode: vertical-rl;
    block-size: 10rem;
    inline-size: 12rem;
    background-color: blue;
}





